body {
  height: fit-content;
  max-height: fit-content;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  animation-name: sep;
  scroll-behavior: smooth;

}
#visitor{
  color: rgb(215, 98, 8);
  font-size: 30px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  text-transform: capitalize;
  transition: 2s;
  text-decoration: overline;
  text-justify: distribute-all-lines;
  animation: fade-in-fade-out 2s infinite ;
}
#visitor:hover{
  text-decoration: wavy;
  color: rgb(14, 189, 43);
  cursor: pointer;
  text-decoration: underline;
}
@keyframes fade-in-fade-out{
  43%{
    color: #cc3737;
  }
}
.artic{
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  color: rgb(145, 152, 26);
}
.artic p{
  font-size: 25px;
  margin-left: 10%;
  margin-right: 20%;
}
@media screen and (max-width: 800px){
  body{
    width: 100%;
    font-size: 15px;
  }
  .artic p{
    font-size: 18px;
  }
}
@media screen and (max-width: 355px){
  *{
    font-size: 13px;
  }
}
